.content {
    margin-top: 105px !important;
    margin-bottom: 90px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-content{
    width: 90%;
    margin: 0 20px;
}

.content h1:first-of-type{
    padding: 20px 0;
    text-align: center;
}

.info {
    font-size: .8rem;
    color:green;
}

.warn {
    margin-left: .5rem;
    font-size: .8rem;
    color:red;
}

.error {
    margin: 0 10px;
    font-size: .8rem;
    color: orange;
}

.fatal {
    font-size: .8rem;
    color: purple;
}