.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > h1:first-of-type{
    padding-bottom: 20px;
}

.info {
    color:green;
}

.warn {
    color:red;
}

.error {
    color: orange;
}

.fatal {
    color: purple;
}