.profile_nav{
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.profile_nav_element{
    border-left: 2px solid #dcdcdc;
    background: #e8e8e8;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    flex-grow: 1;

    font-size: 1.2rem;
    text-decoration: none;
}

.profile_nav_element.active{
    background: white;
    font-weight: bold;
}

.profile_nav_element:hover{
    background: #dcdcdc;
}

#profile_flex_container{
    display: flex;
    width: 100%;

}

#profile-form{
    padding-top: 20px;
}

.profile-block{
    display: flex;
}

#profile-title{
    text-align: center;
    padding-bottom: 20px;
}

#profile-feedback{
    padding: 0;
    margin: 0;

    font-size: 1.2rem;
}

#wishlist{
    margin-left: 50px;
}

#wishlist .product{
    min-height: max-content;
}

#wishlist .product-title{
    font-size: 1.5rem;
    margin-bottom: 8px;
}

#wishlist .product-description{
    font-size: 1rem;
}

#wishlist .product-price{
    font-size: 1.2rem;
}

#wishlist img{
    width: 120px;
    height: 120px;
}

#wishlist .product-icon{
    height: 32px;
}

#empty_wishlist{
    margin-top: 30px;

    font-size: 1.2rem;
    color: lightgray;
}