#registration-form{
    padding-top: 20px;
}

.registration-block{
    display: flex;
}

#registration-title{
    padding-bottom: 5px;
}


#customer-auth label{
    margin-bottom: 0;
}

#customer-controls input{
    margin-top: 0;
}

#customer-contact{
    margin: 15px 0;
}

#registration-feedback{
    padding: 0;
    margin: 0;

    font-size: 1.2rem;
}





