#empty_wishlist{
    font-size: 1.2rem;
    color: #d3d3d3;
}

.sold{
    position: relative;
    top: 30%;
    margin-bottom: -28%;
    transform: rotate(-30deg);
    background: white;
    border: 4px solid darkred;
    padding: 10px;
    border-radius: 10px;
    font-size: 3rem;
}